﻿@{
    @using Myimdb.Models.ViewModels;
    @model List<MovieListViewModel>

}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<div>
    
    <div class="container">
        <h5>Movies of the month</h5>
        <div class="row text-center align-content-center">
            @foreach (var movie in Model)
            {
                <div class="col-md-3">
                    <div class="card my-card-large card-body">
                        <img class="align-content-md-center" src="~/img/movie-poster-placeholder.png" />
                        <div class="card-inverse bg-secondary">
                            <h5>
                                <a class="text-white-50" href="@string.Format("https://www.google.com/search?q={0}", movie.Title)"> @movie.Title (@movie.Year)</a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
            <a asp-area="" asp-controller="Movie" asp-action="Index">
                See the complete list
                <i class="alert-heading">></i>
            </a>
        </div>
    </div>

</div>