﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Myimdb.Models.ViewModels;
@model List<MovieListViewModel>

@{
    //var pi = 3.14;
    //var rnd = new Random();

    //var randomNumber = rnd.Next(1, 100);
    //var primes = new int[] { 1, 3, 5, 7 };

    ////Create anonymous movie type
    //var movie1 = new { Rank = 1, Title = "The Shawshank Redemption", Year = 1994 };
    //var movie2 = new { Rank = 2, Title = "The Godfather", Year = 1972 };
    //var movie3 = new { Rank = 3, Title = "The Godfather - Part II", Year = 1974 };
    //var movie4 = new { Rank = 4, Title = "The Dark Knight", Year = 2008 };
    //var movie5 = new { Rank = 5, Title = "Pulp Fiction", Year = 1994 };
    ////Create a list out of those 5 movies.
    //var moviesList = new[] { movie1, movie2, movie3, movie4, movie5 }.ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies</title>
</head>

<body>
    <div>
        <h1>Movies</h1>
        @*
            <div>The value of pi is @(pi)</div>
            <div>
            @if (randomNumber % 2 == 0)
            { // Par]
            <text> The generated random number @randomNumber is an even number </text>
            }
            else
            {
            @:The generated random number @randomNumber is an odd number
            }
            </div>
            List of prime numbers:<br />
            <ul>
            @foreach (var num in primes)
            {
            <li>@num</li>
            }
            </ul>*@

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <p>@ViewBag.Message</p>
            </div>
        }
        <b>Movies List</b>
        @*<table border="1">
            <tr>
            <th> Title </th>
            <th> Rank </th>
            <th> Year </th>
            </tr>
            @foreach (var movie in Model)
            {
            <tr>
            <td> @movie.Title </td>
            <td> @movie.Rank </td>
            <td> @movie.Year </td>
            </tr>

            }
            </table>*@
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    Title
                </div>
                <div class="col">
                    Rank
                </div>
                <div class="col">
                    Year
                </div>
            </div>
            @foreach (var movie in Model)
            {
                <div class="row align-items-center">
                    <div class="col border-bottom">
                        <a href="@string.Format("https://www.google.com/search?q={0}", movie.Title)"> @movie.Title </a>
                    </div>
                    <hr />
                    <div class="col border-bottom">
                        @movie.Rank
                    </div>
                    <hr />
                    <div class="col border-bottom">
                        @movie.Year
                    </div>
                    <hr />
                </div>
            }
        </div>

        <a class="btn btn-info" asp-area="" asp-controller="Movie" asp-action="Create">
            <i class="fa-thin fa-user"></i>
                Add new movie
            </a>
        <div>
            <text>
                Click
                <a asp-controller="Movie" asp-action="MovieOfTheMonthResult">Here</a>
                to check out the movie of the month!
            </text>
        </div>
    </div>
</body>
</html>
