﻿@model Myimdb.Models.ViewModels.MovieCreateViewModel

@{
    ViewData["Title"] = "MovieOfTheMonthResult";
}

<h1>Movie Of The Month Result</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <div class="col-d-flex justify-content-center">
        <div class="card">
            And the movie of the month is...
            <img class="my-card card-body" src="~/img/movie-poster-placeholder.png" />
            <div class="card-inverse">
                <h4 class="text-stroke">
                    @Html.DisplayFor(model => model.Title)
                </h4>
            </div>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            <a href="@string.Format("https://www.google.com/search?q={0}", @Html.DisplayTextFor(model => model.Title))">
                @Html.DisplayFor(model => model.Title)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storyline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storyline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
